
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

#main_ui {
    position: relative;
    width: 375px;
    height: 500px;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1;
    border-radius: 5%;

}

#screen {
    position: absolute;
    width: 85%;
    height: 12%;
    border: none;
    background-color: rgb(37, 223, 118);
    color:rgba(255, 255, 255, 0.918);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    bottom: 410px;
    margin-left: auto;
    overflow: scroll;
    border-radius: .75rem;
    
}

#keys {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    top: 40px;
}
button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(84, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.918);

}
.operation {
    background-color: rgb(225, 136, 72);
}
#equal {
    background-color: rgb(225, 136, 72);
}
.clear {
    background-color: rgb(209, 54, 85);
}
.backspace {
    background-color: rgb(209, 54, 85);
}
